<% base = { path: "./", title: "news", css: "news", description: "架空のコーポレートデモサイトのニュース紹介ページです。"} %>
<!DOCTYPE html>
<html lang="ja">
<%- include(base.path + "./parts/common/_head", { base: base}) %>

<body>
  <div class="wrapper">
    <%- include('./parts/common/_header') %>
    <% const mainViewData = {
      pageNameEn: "News",
      pageNameJp: "お知らせ",
      pageNames: ["news"]
    }; %>
    <%- include('./parts/common/_mainView', { mainViewData : mainViewData }) %>
    <% const newsData =[
    {
      newsDate : "2022.09.02",
      newsLabels: [1,2],
      newsText:"2022年10月8日・9日・10日の3日間、試乗車フェアを開催します"
    },
    {
      newsDate : "2022.08.23",
      newsLabels: [1,3],
      newsText:"【入庫車のご案内】メルセデスベンツG 350が入庫しました"
    },
    {
      newsDate : "2022.08.07",
      newsLabels: [1],
      newsText:"お盆休みのご案内"
    },
    {
      newsDate : "2022.08.03",
      newsLabels: [1,3],
      newsText:"【入庫車のご案内】JEEPラングラー アンリミテッド サハラが入庫しました"
    },
    {
      newsDate : "2022.07.26",
      newsLabels: [1,2,3],
      newsText:"半導体不足は輸入車・輸入中古車にどう影響するか"
    },
    {
      newsDate : "2022.09.02",
      newsLabels: [1,2],
      newsText:"2022年10月8日・9日・10日の3日間、試乗車フェアを開催します"
    },
    {
      newsDate : "2022.08.23",
      newsLabels: [1,3],
      newsText:"【入庫車のご案内】メルセデスベンツG 350が入庫しました"
    },
    {
      newsDate : "2022.08.07",
      newsLabels: [1],
      newsText:"お盆休みのご案内"
    },
    {
      newsDate : "2022.08.03",
      newsLabels: [1,3],
      newsText:"【入庫車のご案内】JEEPラングラー アンリミテッド サハラが入庫しました"
    },
    {
      newsDate : "2022.07.26",
      newsLabels: [1,2,3],
      newsText:"半導体不足は輸入車・輸入中古車にどう影響するか"
    },
  ];
  %>
    <div class="newsMainContents">
      <div class="newsMainContents__tabs">
        <% const linkTabData = [
            {
              actions:"a",
              labels:"すべてのお知らせ"
            },
            {
              actions:"b",
              labels:"トピックス"
            },
            {
              actions:"c",
              labels:"イベント・キャンペーン"
            },
            {
              actions:"d",
              labels:"入庫車情報"
            },
          ]
      %>
        <%- include('./parts/common/_linkTabs', { linkTabData : linkTabData}) %>
      </div>
      <div class="newsMainContents__body">

        <ul class="news__lists">
          <%- include('./parts/common/_newsLists', { newsData : newsData}) %>
        </ul>
      </div>
    </div>
    <%- include('./parts/common/_footer') %>
  </div>
</body>

</html>