<% base = { path: "./", title: "お知らせ", css: "newsDetail", description: "架空のコーポレートデモサイトのお知らせ詳細ページです。"} %>
<!DOCTYPE html>
<html lang="ja">
<%- include(base.path + "./parts/common/_head", { base: base}) %>

<body>
  <div class="wrapper">
    <%- include('./parts/common/_header') %>
    <div class="breadCrumbContainer">
      <%- include('./parts/common/_breadCrumb', { pageNames : ["news","車のドアが開けられなくなった｜ドアロックの交換と車両の点検"]}) %>
    </div>
    <div class="newsDetail">
      <div class="newsDetail__main">
        <div class="newsDetail__head">
          <div class="newsDetail__label">修理・整備</div>
          <div class="newsDetail__title">車のドアが開けられなくなった｜ドアロックの交換と車両の点検</div>
          <div class="newsDetail__date">2022.09.02</div>
        </div>

        <div class="newsDetail__imgContainer">
          <picture>
            <source media="(max-width: 768px)" srcset="./img/news/detail-sp.jpg" width="315" height="176">
            <source media="(min-width: 769px)" srcset="./img/news/detail.jpg" width="840" height="471">
            <img src="./img/news/detail.jpg" alt="実績のイメージ %>" width="840" height="471">
          </picture>
        </div>

        <h2 class="title__h2-service">ここに見出し2が入ります</h2>
        <p class="newsDetail__text">本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。<br><br>本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。</p>
        <h3 class="title__h3-service"><span>ここに見出し3が入ります</span><span></span></h3>
        <p class="newsDetail__text">本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。<br><br>本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。本文がここに入ります。</p>

        <ul class="newsDetailLists">
          <li>リスト</li>
          <li>リストリスト</li>
          <li>リストリストリスト</li>
        </ul>

        <div class="newsDetail__buttonContainer">
          <a href="./news.html" class="newsDetail__button">前の記事へ</a>
          <a href="./news.html" class="newsDetail__button">次の記事へ</a>
        </div>
      </div>
      <div class="newsDetail__sideBar">
        <%- include('./parts/common/_sideBar') %>
      </div>
    </div>
    <%- include('./parts/common/_footer') %>
  </div>
</body>

</html>