<% base = { path: "./", title: "トップ", css: "top", description: "架空のコーポレートデモサイトのトップページです。"} %>
<!DOCTYPE html>
<html lang="ja">
<%- include(base.path + "./parts/common/_head", { base: base}) %>

<body>
  <div class="wrapper">
    <%- include('./parts/common/_header') %>
    <%- include('./parts/top/_mainViewSwiper') %>
    <div class="contents">
      <%- include('./parts/top/_aboutSection') %>
      <%- include('./parts/top/_serviceSection') %>
      <% const worksData = [
        {
          worksImg : "./img/worksSection1",
          worksLabel : 3,
          worksTitle : "車のドアが開けられなくなった｜ドアロックの交換と接合部噛み合わせの修正",
          worksText : "弊社は、輸入車選びのすべてを見つめ直し、新たなスタイルを提案するインポート・セレクト・ブランドです。これまでの憧れだけや批評家の意見といったイメージで選ぶのではなくダミー文字の追加",
          worksDate : "2022.09.02",
          worksLink : "/2022/09/02"
        },
        {
          worksImg : "./img/worksSection2",
          worksLabel : 2,
          worksTitle : "愛車のリアバンパーに傷がついた｜板金修理と塗装で本格リカバリー",
          worksText : "弊社は、輸入車選びのすべてを見つめ直し、新たなスタイルを提案するインポート・セレクト・ブランドです。これまでの憧れだけや批評家の意見といったイメージで選ぶのではなく確かな実績で判断すべきです。",
          worksDate : "2022.09.26",
          worksLink : "/2022/09/26"
        },
        {
          worksImg : "./img/worksSection3",
          worksLabel : 1,
          worksTitle : "はじめて輸入車の購入を検討中のお客様｜憧れのBMWのXシリーズが30%格安に",
          worksText : "弊社は、輸入車選びのすべてを見つめ直し、新たなスタイルを提案するインポート・セレクト・ブランドです。これまでの憧れだけや批評家の意見といったイメージで選ぶのではなくダミー文字が入ります。",
          worksDate : "2022.08.20",
          worksLink : "/2022/08/20"
        },
      ];
      %>
    </div>
    <div class="contents-dark">
      <div class="contents__inner-dark">
        <%- include('./parts/top/_worksSection', { worksData : worksData}) %>
        <%
        const newsData =[
          {
            newsDate : "2022.09.02",
            newsLabels: [1,2],
            newsText:"2022年10月8日・9日・10日の3日間、試乗車フェアを開催します"
          },
          {
            newsDate : "2022.08.23",
            newsLabels: [1,3],
            newsText:"【入庫車のご案内】メルセデスベンツG 350が入庫しました"
          },
          {
            newsDate : "2022.08.07",
            newsLabels: [1],
            newsText:"お盆休みのご案内"
          },
          {
            newsDate : "2022.08.03",
            newsLabels: [1,3],
            newsText:"【入庫車のご案内】JEEPラングラー アンリミテッド サハラが入庫しました"
          },
          {
            newsDate : "2022.07.26",
            newsLabels: [1,2,3],
            newsText:"半導体不足は輸入車・輸入中古車にどう影響するか"
          },
        ]
        const linkTabData = [
              {
                actions:"a",
                labels:"すべてのお知らせ"
              },
              {
                actions:"b",
                labels:"トピックス"
              },
              {
                actions:"c",
                labels:"イベント・キャンペーン"
              },
              {
                actions:"d",
                labels:"入庫車情報"
              },
            ]
        %>

        <%- include('./parts/top/_newsSection', { newsData : newsData, linkTabData : linkTabData}) %>
      </div>
    </div>
    <%- include('./parts/common/_footer') %>
  </div>
</body>

</html>