<% if (typeof summarySectionData === 'undefined') { summarySectionData = {}; } %>
<section class="summarySection">
  <ul class="summarySection__links">
    <li><a href="#<%- summarySectionData.anchorLink1 %>"><%- summarySectionData.sectionName1 %></a></li>
    <li><a href="#<%- summarySectionData.anchorLink2 %>"><%- summarySectionData.sectionName2 %></a></li>
    <li><a href="#<%- summarySectionData.anchorLink3 %>"><%- summarySectionData.sectionName3 %></a></li>
  </ul>
  <h2 class="summarySection__title"><%- summarySectionData.sectionTitle %></h2>
  <p class="summarySection__text"><%- summarySectionData.sectionText %></p>
</section>